:root{
    --color-white: white;
    --color-lightgray: lightgray;
    --color-special-black: rgb(36,39,42);
    --color-violet: rgb(146,160,220);	
    --color-blue:rgb(44, 89, 238);	
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--color-special-black);
}
.container{
    width: 920px;
    margin: auto;
    
}

footer{
    background-color: var(--color-special-black);
}

header{
    background-color: var(--color-violet);
    padding: 1rem;
}

a{
    color: var(--color-white);
    text-decoration: none;
    padding: 1rem;
}

a:hover {
    text-decoration: underline;
}

section{
    padding: 2rem 0;
}

footer .container{
    padding: 1rem 0;
    color: var(--color-white);
}

h1{
    padding-bottom: 3rem;
    font-size: 3rem;
}

h5, h4{
    color: var(--color-violet);
}

h2, h3, h4{
    padding-bottom: 2rem;
}

h2{
    font-size: 2.5rem;
}

h4{
    font-size: 1.5rem;
}

hr{
    border-color: var(--color-violet);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
    padding-bottom: 1rem;
}

main section .container .row .col >img{
    width: 100%;
}

footer  .container .row .col img{
    width: 1.5rem;
    vertical-align: top;
    padding-right: .1rem;
    padding-bottom: 1rem;
}

footer  .container .row{
    gap: 1rem 3rem;
    align-items: baseline;
    padding-bottom: 2rem;
}

footer  .container .row .col-2>a{
    display: block;
    padding: 0.5rem 0;
}

.btn{
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn-small{
    font-size: small;
    padding: .5rem .7rem;
}

.btn-white{
    background-color: var(--color-white);
    color: var(--color-special-black);
}

.btn-black{
    background-color: var(--color-special-black);
    color: var(--color-white);
}

.btn-violet{
    background-color: var(--color-violet);
    color: var(--color-white);
}

.title{
    color: var(--color-white);
    text-align: center;
    padding: 2rem 10rem;
}

.end-main{
    text-align: center;
}

.row{
    display: flex;
}

.col{
    flex-grow: 2;
    flex-basis: 70%;
}

.col-2{
    flex-grow: 1;
    flex-basis: 30%;
}

.bg-gray{
    background-color: var(--color-lightgray);
    position: relative;
}

.nav-footer{
    display: flex;
    color: var(--color-white);
}

.stars{
    background-image: url(../imgs/stars.svg);
    background-size: contain;
}

.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.bg-color{
    background-color: var(--color-violet);
}

.first-para{
    text-align: center;
}