:root{
    --color-white: white;
    --color-lightgray: lightgray;
    --color-special-black: rgb(36,39,42);
    --color-violet: rgb(146,160,220);	
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--color-special-black);
}
.container{
    width: 920px;
    margin: auto;
    
}

footer{
    background-color: var(--color-special-black);
}

header{
    background-color: rgb(61,96,216);
    padding: 1rem;
}

a{
    color: var(--color-white);
    text-decoration: none;
    padding: 1rem;
}

section{
    padding: 2rem 0;
}

main section .container .row .col:nth-child(odd){
    padding-right: 7rem;
}

main section .container .row .col:nth-child(even){
    padding-left: 7rem;
}

footer .container .menu >div{
    background-color: pink;
    padding: 1rem;
}

footer section .row .col-2{
    flex-basis: 0;
}

footer section .row .col{
    flex-grow: 1;
}

footer .container .menu{
    background-color: aquamarine;
    padding: 2rem 0;
}

footer .container{
    padding: 1rem 0;
}
footer section .row >div:first-child{
    color: var(--color-white);
}

main .blue .container{
    padding: 0 5rem;
}

h1{
    padding-bottom: 3rem;
    font-size: 3rem;
}

h2, h3, h4{
    padding-bottom: 2rem;
}

h2{
    font-size: 2.5rem;
}

h4{
    font-size: 1.5rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
    padding-bottom: 1rem;
}

main section .container .row .col >img{
    width: 35rem;
}

footer section .container .row .col-2 img{
    width: 1.5rem;
    vertical-align: middle;
    padding-right: .1rem;
}

.btn{
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 20px;
}

.btn-small{
    font-size: small;
    padding: .5rem .7rem;
}

.btn-white{
    background-color: var(--color-white);
    color: var(--color-special-black);
}

.btn-black{
    background-color: var(--color-special-black);
    color: var(--color-white);
}

.btn-violet{
    background-color: var(--color-violet);
    color: var(--color-white);
}

.bg-title{
    background-image: url(../imgs/jumbo.png);
    background-size: cover;
}

.title{
    color: var(--color-white);
    text-align: center;
    padding: 2rem 10rem;
}

.end-main{
    text-align: center;
}

.row{
    display: flex;
}

.col{
    flex-grow: 2;
}

.col-2{
    flex-grow: 1;
}

.bg-gray{
    background-color: var(--color-lightgray);
}

.nav-footer{
    display: flex;
    color: var(--color-white);
}

.stars{
    background-image: url(../imgs/stars.svg);
    background-size: contain;
}